{erl_opts, [debug_info]}.

{deps, [
    nova,
    {shigoto, {git, "https://github.com/Taure/shigoto.git", {branch, "main"}}},
    {arizona_core, {git, "https://github.com/novaframework/arizona_core.git", {branch, "main"}}},
    {arizona_nova, {git, "https://github.com/novaframework/arizona_nova.git", {branch, "feat/nova-app"}}}
]}.

{src_dirs, [{"src", [{recursive, true}]}]}.

{erlfmt, [write]}.

{project_plugins, [erlfmt]}.
