{erl_opts, [debug_info]}.

{deps, [
    nova,
    {shigoto, {git, "https://github.com/Taure/shigoto.git", {branch, "main"}}},
    {arizona_core, {git, "https://github.com/novaframework/arizona_core.git", {branch, "main"}}},
    {arizona_nova, {git, "https://github.com/novaframework/arizona_nova.git", {branch, "main"}}}
]}.


{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    covertool,
    {rebar3_audit, {git, "https://github.com/Taure/rebar3_audit.git", {branch, "main"}}},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}}
]}.

{erlfmt, [write]}.

{xref_checks, [undefined_function_calls, undefined_functions]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns, unknown]},
    {plt_apps, all_deps},
    {exclude_mods, [
        shigoto_board_layout,
        shigoto_board_overview_view,
        shigoto_board_queues_view,
        shigoto_board_jobs_view,
        shigoto_board_batches_view,
        shigoto_board_cron_view
    ]}
]}.

{ex_doc, [
    {proglang, erlang},
    {main, <<"readme">>},
    {extras, [<<"README.md">>]},
    {source_url, <<"https://github.com/Taure/shigoto_board">>}
]}.
